:root {
    --Charcoal: #264653;
    --Persian-Green: #2A9D8F;
    --Orange-Yellow-Crayola: #E9C46A;
    --Sandy-Brown: #F4A261;
    --Burnt-Sienna: #E76F51;
    --Chocolate-Web: #D2660F;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.calculator {
    font-size: 1.3em;
}

.calculator__result, .calculator__operation {
    width: 100%;
    padding: 1rem 1rem;
    text-align: right;
    outline: 0;
    border: none;
    cursor: default;
}
.calculator__operation {
    border-top: 1px solid #000;
}

input[type="text"]::placeholder {
    color: black;
}

.calculator__line {
    display: flex;
}

.calculator__button {
    flex: 1;
    padding: 1rem 0;
    border: 0;
    outline: 0;
    background-color: var(--Charcoal);
    color: white;
    transition: background-color 500ms;
    cursor: pointer;
}

.calculator__button:hover {
    background-color: var(--Persian-Green);
}

.calculator__button:last-child {
    background-color: var(--Sandy-Brown);
}

.calculator__button:last-child:hover {
    background-color: var(--Chocolate-Web);
}

.calculator__button:last-child:focus {
    background-color: var(--Chocolate-Web);
}

@media (max-width: 600px) {
    .calculator {
        width: 100%;
        min-height: 40vh;
    }
    .calculator__button {
        height: 5em;
    }
}

@media (min-width: 600px) {
    main {
        justify-content: center;
    }

    .calculator {
        max-width: 400px;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 20px var(--Burnt-Sienna);
        background: var(--Burnt-Sienna);
    }

    .calculator__operation {
        border: none;
    }
}