body {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color-scheme: dark;
}

svg {
    fill: white;
    color: white;
    background-color: white;
}

main {
    justify-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

.calculator {
    max-width: 450px;
    width: 100%;
    padding: 1.5rem;
    background: #243441;
    border-radius: 10px;
}

.calculator__result {
    font-size: 6rem;
    font-weight: bold;
}

.calculator__operation {
    font-size: 1.2rem;
}

.calculator__result, .calculator__operation {
    width: 100%;
    text-align: right;
    outline: 0;
    border: none;
    background: none;
    cursor: default;
}

.calculator__lines, .calculator__line {
    display: grid;
    gap: 1.5rem;
}

.calculator__line {
    grid-template-columns: repeat(4, 1fr);
}

.calculator__button {
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    padding: 1.2rem;
    background-color: #233340;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calculator__button:active {
    transform: scale(0.9);
}

.numbers, .calculator__operation {
    color: #6e7c87;
}

.operators, .clear {
    font-weight: bold;
    color: #bf7037;
}

.equal {
    font-weight: bold;
    background-color: #bf7037;
    color: white;
}
