body {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

:root {
    --Charcoal: #264653;
    --Persian-Green: #2A9D8F;
    --Orange-Yellow-Crayola: #E9C46A;
    --Sandy-Brown: #F4A261;
    --Burnt-Sienna: #E76F51;
    --Chocolate-Web: #D2660F;
}

main {
    justify-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

.calculator {
    font-size: 1.3em;
    max-width: 600px;
    width: 100%;
    border: 2px solid;
}

.calculator__result {
    font-size: 2em;
    font-weight: bold;
}

.calculator__result, .calculator__operation {
    width: 100%;
    padding: 0 1rem;
    text-align: right;
    outline: 0;
    border: none;
    cursor: default;
}
.calculator__operation {
    color: rgb(63, 63, 63);
}

input[type="text"]::placeholder {
    color: black;
}

.calculator__line {
    display: flex;
}

.calculator__button {
    flex: 1;
    padding: 1rem 0;
    height: 5em;
    border: 0;
    outline: 0;
    background-color: var(--Charcoal);
    color: white;
    transition: background-color 500ms;
    cursor: pointer;
}

.calculator__button:hover {
    background-color: var(--Persian-Green);
}

.calculator__button:last-child {
    background-color: var(--Sandy-Brown);
}

.calculator__button:last-child:hover {
    background-color: var(--Chocolate-Web);
}

.calculator__button:last-child:focus {
    background-color: var(--Chocolate-Web);
}
